*{
	padding: 0;
	margin: 0;
}

header{
	background-color: black;
	padding-bottom:10px;
	padding-top:10px ;
}
.menu {
	color : blue;
	text-align: right;
	display: flex;
	margin-left: 70%;
	cursor: pointer;
}
.menu a:hover{
	color: yellow;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	color: white;
}
.center:hover{
	background-color: black;
	color:yellow;
}
.left{
	position: absolute;
	top: 1000px;
	left : 900px;
	font-size: 60px;
	color: blue;
	padding: 10px;
}
.left:hover{
	color: lightblue;
	background-color: black;
}
.flex-container{
	display: flex;
	background-color: black;
	text-transform: capitalize;
	color: lightblue;
	margin-top: 50px;
	padding: 10px;
	margin-bottom: 100px;
}
.flex-container div img {
	width: 93%;
	height: 100%;
	/*margin-top: 20px;*/
	/*padding: 5px;*/
	border-radius: 50%;
	/*margin-left: 10px;*/
	margin-bottom: 20px;
}
.flex-container div p{
	color: black;
	margin-left: 70px;
	font-size: 35px;
	/*background-color: yellow;*/
}
.flex-container div p:hover{
	color: red;
	/*background-color: black;*/
}

.about{
	background-color: black;
	color: white;
	align-items: left;
	text-align: left;
}
label {
	font-size: 25px;
}
input{
	font-size: 25px;
	margin-left: 25px;
}
button{
	font-size: 25px;
	align-items: center;
	text-align: center;
	padding: 2px;
	margin-bottom: 20px;
	margin-left: 220px;
}
.left-Footer{
	position: absolute;
	top: 1700px;
	left : 900px;
	font-size: 60px;
	color: blue;
	padding: 10px;
}

